{# templates/student/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Студенты{% endblock %}

{% block body %}
<h1>Список студентов</h1>

<table>
    <thead>
        <tr>
            <th>Имя</th>
            <th>Оценки</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>
                {% for grade in student.grades %}
                    <span>{{ grade.grade }}</span>
                {% endfor %}
            </td>
            <td>
                <form action="{{ path('app_student_add_grade', {'id': student.id}) }}" method="POST">
                    <input type="number" name="grade" min="1" max="5" placeholder="Оценка" required>
                    <button type="submit">Добавить оценку</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
